@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Dosis');

body{background-image: url(../img/fundo.png);}
div#avt{margin-left: 20px;}
input[type="radio"]{visibility: hidden;}   
label.avatar{border: 4px solid #a3a3cc;margin: 10px;}
input[type="radio"]:checked+label{
    border-color: #cce6ff;
}
img.avt{
    height: 100px;
}
