@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Dosis');

/*Formatação do título*/
div#interface h1{
    font-family: 'Arimo', sans-serif;;
    font-size: 20pt;
    text-align: center;
    color: rgb(49, 32, 9);
}

/*Formatação da seção principal*/
section#princ{
    display: block;
    width: 400px;
    height: 600px;
    float: left;
    padding: 10px;
}

#titulo{
    position: absolute;
    margin-left: 40px;
    padding: 10px;
}
#titulo h1{
    font-family: 'Arimo', sans-serif;
    font-size: 20pt;
    margin-left: 0px;
}

/*Formatação da tabela*/
table#tabela{
    border-spacing: 10px;
    margin-top: 10px;
    margin-right: auto;
}

table#tabela td{
    padding: 10px;
    width: 200px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    vertical-align: middle;
}
table#tabela a{
    color: #000000;
}

/*Formatação do bloco de cadatro das metodologias*/
aside#secun{
    display: block;
    width: 450px;
    height: 680px;
    float: right;
    padding: 12px;
    margin-top: 10px;
    background-color: rgba(225, 237, 241,0.3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
    
aside#secun h1{
    font-family: 'Arimo', sans-serif;;
    font-size: 20pt;
    text-align: center;
}
aside#secun p{
    font-family: 'Dosis', sans-serif;
    text-align: justify;
    font-size: 14pt;
}

/*Formatação do input de arquivos*/
p#arquivo{
    margin-left: 30px;
    margin-top: 40px;
    text-align: left;
}

/*Reposicionamento do botão de select*/
select#setor{
    margin-left: 10px;
}
/*Reposicionamento dos inputs tipo submit*/
div#enviar{
    width: 500px;
    margin-top: -30px;
    margin-left: 80px;
}

#mod h5 {font-family: 'Arimo', sans-serif;;
    font-size: 20pt;
    text-align: center;}

#mod h6{font-family: 'Arimo', sans-serif;;
    font-size: 16pt;
    text-align: justify;}

#mod p{font-family: 'Dosis', sans-serif;
    text-align: justify;
    font-size: 14pt;}
