@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Arimo');
@import url('https://fonts.googleapis.com/css?family=Dosis');

/*Formatação do conteiner interface*/
#interface{
	width:900px;
	background-color: #ffffff;
	margin: -10px auto 0px auto;
	padding: 10px;height: 720px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
    padding: 30px;
    height: 750px;
}

/*Formatação do título*/
div#interface h1{
    font-family: 'Arimo', sans-serif;
    font-size: 20pt;
    text-align: center;
    color: rgb(49, 32, 9);
}

#tab{
	margin-left: 110px;
	margin-top: 30px;
	width: 600px;
	height: 650px;
	overflow: auto;
	text-align: center;
}

.titulo{width: 380px;height: 45px;margin-bottom: 30px;margin-left: 230px;}
.titulo img{width: 100%; height: 100%;}